.Bank {
    display: flex;
    justify-content: center;

    .container {
        padding: 40px 0px;

        .Payment {
            display: flex;

            .formBank {
                background-color: var(--pimary);
                padding: 10px;
                width: 70%;

                h1 {
                    color: white;
                    padding: 10px 0px;
                }

                .BankLeft {
                    .BankSide {
                        background-color: var(--white);
                        padding: 30px;
                        margin-top: 20px;


                        p {
                            padding: 10px 0px;
                            font-size: 20px;
                        }



                        .inputContent {
                            padding: 15px;
                            width: 50%;
                            margin-bottom: 24px;
                        }

                        .error {
                            color: red;
                            font-size: 14px;

                        }

                        .bankContent {
                            display: flex;

                            .bankTitle {
                                margin-right: 40px;

                                input {
                                    margin-right: 15px;

                                }

                                img {
                                    margin-right: 5px;
                                }

                            }
                        }

                        .btnPayment {
                            background-color: var(--pimary);
                            padding: 15px 30px;
                            font-size: 16px;
                            border: unset;
                            color: var(--white);
                            font-weight: bold;
                            margin-top: 20px;
                            margin-right: 10px;
                            cursor: pointer;
                        }

                        .btnPayment:hover {
                            background-color: var(--btnHover);
                        }
                    }
                }
            }

            .Booking {
                width: 30%;
                background-color: #F1F1F1;
                margin-left: 20px;
                padding: 15px;
                height: 40%;

                .lsBooking {

                    .img {
                        text-align: center;

                        img {
                            width: 80%;
                            height: auto;
                            box-sizing: border-box;
                            padding-bottom: 10px;
                        }
                    }

                    .contentMovie {
                        p {
                            padding: 10px 0px;
                            border-bottom: 1px solid gray;

                            span {
                                font-weight: bolder;
                            }
                        }

                        h1 {
                            font-size: 20px;

                            span {
                                color: var(--pimary)
                            }
                        }

                        .subName {
                            border: unset;
                        }

                        h1 {
                            padding: 10px 0px;
                        }

                        .btnNext {
                            text-align: center;

                            button {
                                background-color: var(--pimary);
                                padding: 10px 30px;
                                font-size: 16px;
                                border: unset;
                                color: var(--white);
                                font-weight: bold;
                                margin-top: 20px;
                                margin-right: 10px;
                                cursor: pointer;
                            }

                            button:hover {
                                background-color: var(--btnHover)
                            }
                        }
                    }

                }

            }

        }
    }

}